@model netcore.Models.Crm.Channel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-th";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="channelId" />
        <div class="form-group">
            <label asp-for="channelName" class="control-label"></label>
            <input asp-for="channelName" class="form-control" />
            <span asp-validation-for="channelName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label"></label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="colorHex" class="control-label"></label>
            <input asp-for="colorHex" class="form-control" />
            <span asp-validation-for="colorHex" class="text-danger"></span>
        </div>
    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



