@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome to GRIT</h1>

        <p class="lead">This is a simple hero tool for Grant Watson.</p>
        <hr class="my-4">
        <p>This tool is to help with his freelance business and side projects for himself.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">This is a blank button</a>

        <hr class="my-4">

        <h2 class="display-4">Active Tools</h2>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Client" asp-action="Index" role="button">Clients</a>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Project" asp-action="Index" role="button">Projects</a>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Contact" asp-action="Index" role="button">Contacts</a>
    </div>
</div>

<div class="container">
    <h3 class="text-center">The following are some cool bootstrap items</h3>
    <div class="row mt-40">
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-1.jpg" alt="">
                <h3 class="title">Williamson</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-2.jpg" alt="" class="img-thumbn">
                <h3 class="title">Kristiana</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-3.jpg" alt="">
                <h3 class="title">Kristiana</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
