@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome to GRIT</h1>

        <p class="lead">GRIT stand's for Growth, Relation, and Interaction Terminal</p>
        <hr class="my-4">
        <p>This is a CRM tool, to better control the flow from lead to active client. This tool is set to bring better business tools to clients</p>

        <hr class="my-4">

        <h2 class="display-4">Active Tools</h2>
        <div class="row mt-40">
            <div class="col-md-3 col-sm-6">
                <div class="box1">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo204/images/img-1.jpg" alt="">
                    <h3 class="title">Clients</h3>
                    <ul class="icon">
                        <li><a asp-area="" asp-controller="Client" asp-action="Index"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box1">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo204/images/img-2.jpg" alt="" class="img-thumbn">
                    <h3 class="title">Employees</h3>
                    <ul class="icon">
                        <li><a asp-area="" asp-controller="Employee" asp-action="Index"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box1">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo204/images/img-3.jpg" alt="">
                    <h3 class="title">Projects</h3>
                    <ul class="icon">
                        <li><a asp-area="" asp-controller="Project" asp-action="Index"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box1">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo205/images/img-1.jpg" alt="">
                    <h3 class="title">Leads</h3>
                    <ul class="icon">
                        <li><a asp-area="" asp-controller="Contact" asp-action="Index"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="my-4">
        <p>
            This tool is licensed under MIT to <b>Triumph Designs</b> and <b>Grant Watson</b>
        </p>
    </div>
</div>


